# Lyzr
LYZR_API_KEY=sk-default-PRaIMQY0uHcjuge8NHdFOLPwhGMo5ikc
LYZR_SAFE_AI_KEY=sk-default-PRaIMQY0uHcjuge8NHdFOLPwhGMo5ikc
LYZR_AGENT_ID=6ab108f7c9090433f7a1b4bb
LYZR_INFERENCE_URL=https://agent-prod.studio.lyzr.ai/v3/inference/chat/
LYZR_USER_ID=ajanshul02@gmail.com

# Backend
BACKEND_PORT=8000
ENV=development

HITL_WEBHOOK_URL=
HITL_CONFIDENCE_THRESHOLD=0.90
